@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Urbanist:wght@200&display=swap");

.App {
  
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: blanchedalmond;
  font-family: "Urbanist", sans-serif;
  background-color: black;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  border-radius: 50%;
  min-width: 400px;
  min-height: 400px;
  border: 3px solid white;
}

.watch-container {
  display: flex;
  margin-bottom: -10px;
  font-family: monospace;
  
}
.watch-container h1 {
  font-size: 60px;
  font-weight: 500;
  text-transform: 
  
  
}
/* .watch-container h2 {
  position: absolute;
  top: 253px;
  right: 200px;
  margin-top: 32px;
  margin-left: 10px;
  font-size: 38px;
  padding: 5px;
  transition: 0.3s;
  min-width: 20px;
  line-height: 1em;
} */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

button {
  border: none;
  margin: 10px 3px;
  width: 70px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background: transparent;
  font-family: "Urbanist", sans-serif;
  font-weight: 1000;
}

button:hover {
  box-shadow: 0px 6px 30px 6px rgba(31, 27, 27, 0.79);
  -webkit-box-shadow: 0px 6px 30px 6px rgba(31, 27, 27, 0.79);
  -moz-box-shadow: 0px 6px 30px 6px rgba(31, 27, 27, 0.79);
  border: 0.5px solid silver;
  transition: ease-in-out;
  color:red;
}

